<!-- your html code here -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div>
        <a class="navbar-brand" href="#">
            <img src="https://i.pinimg.com/564x/4a/89/04/4a8904e3e3159183a443caed37f523cd.jpg"   alt="Logo de mi página" width="50" height="50" class="d-inline-block align-top">
        </a>
    </div>
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Lugares</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Fotos</a>
                </li>
                <li class="nav-item">
                                       <a class="nav-link" href="#">Contactanos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>